
/* Tabla Styles */

.contenedor-table{
	border-collapse: collapse;
	margin: 25px;
	font-size:  0.9em;
	min-width: 400px;
	border-radius:  5px 5px 0 0;
	overflow: hidden;
	box-shadow:  0 0 20px rgba(0, 0, 0, 0.15);
}
.tu{
	background-color: #009879;
	color: #FFFFFF;
	padding: 5px 10px;
	font-weight: bold;
	border: 1px solid #009879;
	border-radius: 30px;
}

.contenedor-table thead tr{
	background-color: #009879;
	color: #FFFFFF;
	text-align: left;
	font-weight: bold;
}

.contenedor-table th,
.contenedor-table td{
	padding: 12px 15px;
}

.contenedor-table tbody tr{
	border-bottom: 1px solid #dddddd;
}

.contenedor-table tbody tr:nth-of-type(even){
	background-color: #F3F3F3;
}

.contenedor-table tbody tr:last-of-type{
	border-bottom: 2px solid #009876;
}

.contenedor-table tbody tr:hover{
	color: #009879;
}

/*Fin  Tabla Styles */
.fechas form{
	display: grid;
  grid-template-columns: repeat(12,1fr);
	margin-bottom: 5em;
}
.cal1{
	background-color: white;
	  grid-column: 2/3;
}

.cal2{
	background-color: white;
	  grid-column: 4/5;
}

.cal3{
	background-color: white;
	  grid-column: 6/7;
}
