table#datos{
    margin-top: 4%;
    text-align: center;
    border: 0.5px solid #cbc8c8ba;
    padding: 10px;
}


td{
    background-color: snow;
    border: 0.5px solid #cbc8c8ba; padding: 10px;
}
th, thead, tr{
    padding: 10px;
    border: 0.5px solid #cbc8c8ba;
}